*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-select, .sound-picker, .player-container{
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-container{
    position: relative;
    width: auto;
    height: 65%;
}


.player-container svg{
    opacity: 70%;
    position: absolute;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg); 
    pointer-events: none;
}
/* .time-select{
    background: rgb(228, 173, 230);
}

.sound-picker{
    background: rgb(152, 238, 144);
}

.player-container{
    background: rgb(206, 206, 206);
} */

.time-display{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 10%;
    color: white;
    opacity: 70%;
    font-size: 50px;
}

video{
    position: fixed;

    top: 0%;
    left: 0%;
    width: auto;
    z-index: -10;
}

.time-select button, 
.sound-picker button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    width: 40%;
    height: 20%;
    background: white;
    border: 2px solid white;
    cursor: pointer; 
    border-radius: 10px;
    font-size: auto;
    opacity: 70%;
}

.play{
    width: 15%;
    opacity: 70%;
}



.time-select button:hover{
    color: rgb(0, 0, 0);
        background:rgb(255, 141, 141, 0.664);
        transition: all 0.5s ease;
    }

.sound-picker button:hover{
    color: rgb(1, 6, 8);
    background:rgba(255, 141, 141, 0.664);
    transition: all 0.5s ease;
}

.sound-picker button{
    display: inline-block;
    background: white;
    opacity: 70%;
    /* height: 120px;
    width: 120px; */
}